# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
env/
.venv/
venv
# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Data (generati a runtime)
#data/database.json
#data/last_schedule.json

# Byte-compiled
*.pyc

# Logs
*.log
